*{
    font-family: 'Courier New';
    padding: 7px;
    border: transparent;
    background-color: #1e3d60;

}

#container{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #1a6c9b 0%, #80cdd0 100%);
    box-shadow: 2px -2px 8px darkblue,
                -2px 2px 8px rgba(72, 255, 0, 0.411);
    display: grid;
    place-content: center;
    align-content: center;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 15%;
    justify-items: center;
    border: transparent;
    border-radius: 15px;
}

#tittle{
    font: black bold Courier;
    font-size: 25px;
    background-color: rgba(0, 219, 248, 0.74);
    border-radius: 20px;
    box-shadow: 2px -2px 8px rgb(9, 9, 219),
                -2px 2px 8px rgba(7, 134, 192, 0.411);
    display: flex;
    place-content: center;
    text-justify: center;
}

#Cuentaregresiva{
    background-color: transparent
}

#contclicks{
    background-color: transparent;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 10%;
}
#cps{
    background-color: transparent
}

#boton{
    width: 200px;
    height: 150px;
    background-color: #1a6c9b;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}    

#boton:hover{
    background-color: #1e3d6067;
}
#boton:active{
    background-color: #4d7cb18e;
}

#btnstart{
    width: 80px;
    box-shadow: 0px 0px 5px #012122;
}
#btnstart:active{
    background-color: #0f7779;
}


#btnreset{
    width: 80px;
    box-shadow: 0px 0px 5px #042d2e;
}
#btnreset:active{
    background-color: #0f7779;
}

#contbotones{
    background-color: transparent;
}